.center {
    position: relative;
    @include center;
}

.full-bg {
    @include full(absolute);
    @include bg(cover);
}

.offset {
    &:target:before {
        content: "";
        display: block;
        height: 24px;
        margin-top: -24px;
    }
}