<!DOCTYPE html>
<html lang="en">

<head>
    <!-- DISPLAY ALL CHARACTER SYMBOLS -->
    <meta charset="utf-8" />

    <!-- META DATA -->
    <meta name="description" content="{{ page.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- SOCIAL MEDIA -->
    <meta property="og:title" content="{{ page.title }}{% unless page.index %} — Marloes te Riele {% endunless %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://marloesteriele.nl{{ page.img }}" />
    <meta property="og:url" content="https://marloesteriele.nl{{ page.url | remove: '.html' }}" />
    <meta property="og:description" content="{{ page.description }}" />

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="https://marloesteriele.nl{{ page.img }}">

    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/favicon.ico" />

    <!-- LINKS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <script src="/assets/js/modernizr.js"></script>

    <!-- TITLE -->
    <title>
        {{ page.title }}{% unless page.index %} — Marloes te Riele {% endunless %}
    </title>

</head>

<body>

    <main>
        {{ content }}
    </main>
    {% include cursor.html %}

    <!-- JAVASCRIPT -->
    <script src="/assets/js/plugins.bundle.min.js"></script>
    <script src="/assets/js/generic.js"></script>
    <script src="/assets/js/reveal-on-scroll.js"></script>
    <script src="/assets/js/cursor.js"></script>

</body>

</html>