---
layout: default
---

<section class="pa-6 pa-16@ml">
    <div class="mb-8">
        <a href="/" class="link reference f14">← Terug</a>
    </div>
    <header class="mb-8 mb-12@ml mxw-1200 mh-auto txt-c">
        <h1 class="heading heading--s">
            {{ page.description }}
        </h1>
    </header>
    {% for entry in page.images %}
    <figure class="image mxw-1000 mh-auto txt-c js-scroll js-tr tr-fi-up tr-1000">
        <img data-src="{{ entry.img }}" alt="{{ entry.alt }}" />
    </figure>
    {% endfor %}
    <div class="rich-text mxw-700 js-scroll-rt">
        {{ content }}
    </div>
</section>

{% include footer.html %}