---
layout: default
---

<section class="section">
    <div class="mb-8">
        <a href="/" class="link reference f14">← Terug</a>
    </div>
    <header class="mb-8 mb-12@ml mxw-1200">
        <div class="mb-6 mb-10@ml">
            <p class="f14 f16@ml">Opdrachtgever</p>
            <p class="f20 f24@ml fw-b mb-4">{{ page.title }}</p>
            <p class="f14 f16@ml">Type</p>
            <p class="f20 f24@ml fw-b">{{ page.type }}</p>
        </div>
        <h1 class="heading heading--s">
            {{ page.description }}
        </h1>
    </header>
    <div class="rich-text mxw-700 js-scroll-rt">
        {{ content }}
    </div>
</section>

{% include footer.html %}